.App {
  display: flex;
  flex-direction: row;
}

.loaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 100vh;
  background-color: #ffffff;
  width: 100vw;
  max-width: 100%;
  padding: 2rem;
  max-height: 100%;
}

.swipable-drawer { 
  z-index: 100;
  position: fixed
}
.navbar {
  z-index: 99;
}

@media (max-width: 768px) {
  .container {
    height: 200vh;
    background-color: #ffffff;
    width: 100vw;
    max-width: 100%;
    padding: 2rem;
    max-height: 100%;
  }
}
